<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>write</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/css/1.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <div>评论界面</div>
            <div>
                <a href='/index'>回到首页</a>
            </div>
            <form action='/pinglun' method='get'>
                <label for='input_name'>
                    名字
                </label>
                <input type='text' required minlength="2" maxlength="10" 
                id='input_name' name='name' placeholder="请输入名字">
                <label for='input_content'>
                    内容
                </label>
                <textarea type='text' required minlength="2" maxlength="20" 
                id='input_content' name='content' placeholder="请输入名字"></textarea>
                <button type='submit'>发表</button>
            </form>
        </div>
        <script src="/public/js/1.js" async defer></script>
    </body>
</html>